# Discord Bot
DISCORD_TOKEN=
DISCORD_APPLICATION_ID=

# Discord Channel IDs
DISCORD_WELCOME_CHANNEL_ID=
DISCORD_POPEGET_CHANNEL_ID=

# Discord Filters (comma-separated IDs)
DISCORD_EXCLUDED_USER_IDS=
DISCORD_EXCLUDED_GUILD_IDS=

# Deploy Commands Script
DISCORD_DEPLOY_COMMANDS_GUILD_ID=

# Cloudflare D1 Database
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DB_ID=

# Logging
DISABLE_LOGGING=